<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home</title>
  </head>
  <body style="text-align: center">
    <h1>Welcome Home</h1>
    <a
      href="/users/register"
      style="
        width: 115px;
        height: 25px;
        background: #ffffff;
        padding: 10px 20px;
        border: 1px solid rgb(172, 172, 172);
        border-radius: 5px;
        color: rgb(53, 53, 53);
        line-height: 25px;
        text-decoration: none;
      "
      >Register</a
    >
    <br />
    <br />
    <a
      href="/users/login"
      style="
        width: 115px;
        height: 25px;
        background: #ffffff;
        padding: 10px 27px;
        border: 1px solid rgb(172, 172, 172);
        border-radius: 5px;
        color: rgb(53, 53, 53);
        line-height: 25px;
        text-decoration: none;
      "
      >Log In</a
    >
  </body>
</html>
