<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>login</title>
  </head>
  <body style="text-align: center">
    <h1>Log In</h1>

    <div>
      <% if (messages.success_msg) { %>
      <p style="color: rgb(29, 204, 29)"><%= messages.success_msg %></p>
      <% } %>
    </div>

    <div>
      <% if (messages.error) { %>
      <p style="color: red"><%= messages.error %></p>
      <% } %>
    </div>

    <div>
      <% if (messages.limiter) { %>
      <p style="color: red"><%= messages.limiter %></p>
      <% } %>
    </div>

    <form action="/users/login" method="POST">
      <div>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username..."
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password..."
          required
        />
      </div>
      <button type="submit">Log In</button>
    </form>
    <p>Not Registered Yet?<br />Sign Up <a href="/users/register">Here</a></p>
  </body>
</html>
